.login .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-tabs {
    position: absolute;
    padding: 15px;
    background: var(--background);
    text-align: center;
    min-width: 40%;
    box-shadow: 0 0px 10000px rgba(0, 0, 0, 1);
    border-radius: 15px;
}

.login-home,
.login-offline,
.login-AZauth,
.login-AZauth-A2F {
    display: none;
}

.login-text {
    font-size: 1.3rem;
}

.connect, .cancel, .register {
    background: none;
    color: var(--color);
    border: solid 4px var(--element-color);
    border-radius: 10px;
    padding: 0.3rem 4rem;       
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
    margin: 15px 10px;
    transition: margin 0.4s ease, padding 0.4s ease;
}

.connect:hover, .cancel:hover, .register:hover {
    margin: 17px 12px;
    padding: 0.4rem 4.1rem;
}


.input-login .email,
.input-login .password,
.A2F {
    color: var(--color);
    background: none;
    border: solid 2px var(--element-color);
    border-radius: 30px;
    width: 50%;
    padding: 0.4rem 1rem;
    margin-top: 10px;
}